
/* Card structure */
.card {
  padding: 10px;
  margin: 15px 0;
  background-color: #eae2e2e6;
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.card-title {
  display: flex;
  align-content: center;
  justify-content: center;
  border: transparent;
}

input[name="card-title-input"] {
  border: none;

}

input[name="card-title-input"]:focus {
  border: none;
  outline: none;
  box-shadow: none;
  background-color: transparent;
  color: rgb(95, 89, 89);
  /* font-style: italic; */
}
/* Task input styling */
.task-input {
  display: flex;
  align-items: center;
  justify-content: center;
}
input[name="task-input"] {
  font-size: 15px;
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  width: calc(100% - 25px);
}

input[name="task-input"] {
  border: none;

}

input[name="task-input"]:focus {
  border: none;
  outline: none;
}


/* General button styling */
button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}
.task-input button,
.task-list button,
.delete-card-button, 
.delete-column-button {
  width: 25px;
  height: 30px;
  background: none;
  border: none;
  color: rgba(88, 88, 88, 0.906);
  cursor: pointer;
  font-size: 15px;
  border-radius: 5px;
  margin-left: auto;
}

/* Tasks button styling on hover */
.task-input button:hover {
  background-color: rgba(112, 143, 112, 0.383);
}
.task-list button:hover {
  background-color: rgba(225, 171, 156, 0.538);
}

/* Add Card Button */
.add-card-button {
  width: 50px;
  height: 30px;
  font-weight: lighter;
  color: rgba(88, 88, 88, 0.906);
  background-color: #7c887d39;
  font-size: 15px;
  margin: 5px 10px 10px;
box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: background-color 0.3s ease;
}
.add-card-button:hover {
  background-color: #737b7393;
}

.add-column-button {
  color: rgba(88, 88, 88, 0.906);
  font-size: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.add-column-button:hover{
  background-color: #43434346;
  transition: background-color 0.3s ease;
}

/* Delete Card Button */
.delete-card-button, .delete-column-button{
  margin-bottom: 10px;
  height: fit-content;
  transition: background-color 0.3s ease;
}
.delete-card-button:hover, .delete-column-button:hover {
  color: #c62828c3;
  font-weight: bold;
}

/* Task list styling */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li {
  display: flex;
  align-items: center;
  font-size: 15px;
  margin-top: 10px;
  height: 25px;
}
/* Checkbox */
input[type="checkbox"] {
  cursor: pointer;
  height: 15px;
  margin-right: 10px;
}
.drag{
  transform: translate(120px, 50%);
}